@mixin gallery-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    natural-gallery {

        svg {
            fill: currentColor !important;
        }

        .natural-gallery .natural-gallery-body .figure.loading::before,
        .natural-gallery .bar::before,
        .natural-gallery .bar::after {
            background-color: mat-color($primary) !important;
        }

        .natural-gallery .natural-gallery-body .figure.loading.errored::before {
            background-color: mat-color($warn) !important;
        }

        /* Disabled */
        .natural-gallery .natural-gallery-noresults svg {
            color: mat-color($foreground, base, 0.5) !important;
        }

        /* Highlighted */
        .natural-gallery .natural-gallery-next svg {
            color: mat-color($primary) !important;
        }

        .natural-gallery .natural-gallery-next:hover {
            background-color: mat-color($foreground, base, 0.1) !important;
        }

        .natural-gallery .button,
        .natural-gallery .figure[href] .title {
            background: mat-color($primary) !important;
            border-top: 1px solid lighten(mat-color($primary), 0.9);
        }

        .natural-gallery .figure.selected {
            background:mat-color($foreground, base, 0.2);
        }

        .natural-gallery .figure.selected .selectBtn {
            color: mat-color($accent) !important;
        }

        .natural-gallery .button {
            background: mat-color($primary) !important;
            border-top: 1px solid lighten(mat-color($primary), 0.9);
        }

        .natural-gallery .button:hover {
            background: darken(mat-color($primary), 10%) !important;
        }

    }
}


